@{
    ViewData["Title"] = "Product Details";
    var product = ViewBag.Product;
}

<h1>Product Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <img src="@product.Img" class="img-fluid" alt="@product.Name">
        </div>
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">ID</dt>
                <dd class="col-sm-9">@product.Id</dd>

                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9">@product.Name</dd>

                <dt class="col-sm-3">Price</dt>
                <dd class="col-sm-9">$@product.Price</dd>

                <dt class="col-sm-3">Description</dt>
                <dd class="col-sm-9">@product.Description</dd>

                <dt class="col-sm-3">Category</dt>
                <dd class="col-sm-9">@product.Category.Name</dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <a href="/Product/Index" class="btn btn-secondary">Back to List</a>
</div>